<div class="hero-unit">
    <h1>DADdy video</h1>
    <p>Remote Uuid: {{uuid}}</p>
    <iframe src="http://127.0.0.1/mod/daddyvideo/lti_launch.php?uuid={{uuid}}&amp;department={{department}}&amp;year={{year}}" title="" style="width: 100%; height: 300px"></iframe>
</div>
